<div class="row">
<div class="span6" style="margin-left:300px">
<p>
welcome to friends ministry</p>
<p>welcome to friends ministry</p>
<p>welcome to friends ministry</p>
<p>
welcome to friends ministry</p>
<p>welcome to friends ministry</p>
<p>welcome to friends ministry</p>
<p>
welcome to friends ministry</p>
<p>welcome to friends ministry</p>
<p>welcome to friends ministry</p>
<p>
welcome to friends ministry</p>
<p>welcome to friends ministry</p>
<p>welcome to friends ministry</p>
<p>
welcome to friends ministry</p>
<p>welcome to friends ministry</p>
<p>welcome to friends ministry</p>

</div>
</div>