<div class="container" style="background-color:purple">
<div style="padding-top:50px; margin-left:300px; color:white"> 
	<p style=" margin-bottom:10px">@copyright Friends in ministry.com</p>
</div>
</div>